body {
  text-align: center;
  background-image: url(images/music4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 5px 0 #110303;

}

.footer {
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0b0b0b;
    color: white;
    text-align: center;
    font-weight: bold;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  animation: shake 0.4s;
  opacity: 0.5;
}
@keyframes shake {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.red {
  color: rgb(83, 61, 182);
}

.drum {
  outline: none;
  border: 10px solid #090909;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 1;
  font-weight: 900;
  color: #f0f810;
  text-shadow: 3px 0 #070707;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
